.editor-layout {
  display: grid;
  grid-template-columns: 260px 1fr 300px;
  height: calc(100vh - 56px);
}

aside {
  background: var(--bg-panel);
}

main {
  background: #111;
  position: relative;
}
