/* workspace */
#workspace {
  position: relative;
  background: #111;
}

/* demo object */
.canvas-object {
  position: absolute;
  top: 160px;
  left: 180px;
  width: 220px;
  height: 140px;
  background: #2a2a2a;
  border-radius: 6px;
  display: grid;
  place-items: center;
  color: #ccc;
  cursor: pointer;
}

/* selection overlay */
.selection-overlay {
  position: absolute;
  border: 1.5px solid #4b5cff;
  border-radius: 6px;
  pointer-events: none; /* important */
}

.selection-overlay.hidden {
  display: none;
}

/* resize handles */
.handle {
  position: absolute;
  width: 8px;
  height: 8px;
  background: #fff;
  border: 1.5px solid #4b5cff;
  border-radius: 50%;
}

/* corners */
.tl { top: -5px; left: -5px; }
.tr { top: -5px; right: -5px; }
.bl { bottom: -5px; left: -5px; }
.br { bottom: -5px; right: -5px; }

/* edges */
.tm { top: -5px; left: 50%; transform: translateX(-50%); }
.bm { bottom: -5px; left: 50%; transform: translateX(-50%); }
.ml { left: -5px; top: 50%; transform: translateY(-50%); }
.mr { right: -5px; top: 50%; transform: translateY(-50%); }


/* drag object curser*/
.canvas-object {
  cursor: grab;
}

.canvas-object.dragging {
  cursor: grabbing;
}

/* resize */
.handle {
  pointer-events: all; /* enable resize */
}

/* cursors */
.tl, .br { cursor: nwse-resize; }
.tr, .bl { cursor: nesw-resize; }
.tm, .bm { cursor: ns-resize; }
.ml, .mr { cursor: ew-resize; }

/* Rotation Handle Styles */
.rotate-handle {
  position: absolute;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background: #fff;
  border: 2px solid #4b5cff;
  border-radius: 50%;
  cursor: grab;
  pointer-events: all;
}

.rotate-handle::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 50%;
  width: 2px;
  height: 12px;
  background: #4b5cff;
  transform: translateX(-50%);
}


.canvas-object.ghost {
  opacity: 0.4;
  border: 2px dashed #4b5cff;
  pointer-events: none;
}

.canvas-object.circle {
  border-radius: 50%;
}
