<div class="properties-panel hidden" id="properties-panel">

  <div class="prop-group">
    <label>Position</label>
    <div class="input-row">
      <input id="prop-x" type="number" />
      <input id="prop-y" type="number" />
    </div>
  </div>

  <div class="prop-group">
    <label>Size</label>
    <div class="input-row">
      <input id="prop-w" type="number" />
      <input id="prop-h" type="number" />
    </div>
  </div>

  <div class="prop-group">
    <label>Rotation</label>
    <div class="input-row">
      <input id="prop-r" type="number" />
    </div>
  </div>

</div>